<div nz-row nzGutter="10">
    <div nz-col nzSpan="8">
        <ul nz-menu nzMode="inline" nzTheme="light" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right"
                [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''" nzSelected>
                <i nz-icon nzType="lock"></i>
                <span>{{ 'AbpUi::profile' | abpLocalization }}</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right"
                [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''">
                <i nz-icon nzType="user"></i>
                <span>{{ 'AbpAccount::PersonalSettings' | abpLocalization }}</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right"
                [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''">
                <i nz-icon nzType="lock"></i>
                <span>{{ 'AbpUi::ChangePassword' | abpLocalization }}</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? '展开菜单栏' : '收起菜单栏'"
                (click)="toggleCollapsed()">
                <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                <span>菜单栏位操作</span>
            </li>
        </ul>
    </div>
    <div nz-col nzSpan="16">
        <nz-tabset [(nzSelectedIndex)]="selectedIndex" nzType="editable-card" (nzAdd)="newTab()"
            (nzClose)="closeTab($event)">
            <nz-tab *ngFor="let tab of tabs" nzClosable [nzTitle]="tab">Content of {{ tab }}</nz-tab>
        </nz-tabset>
    </div>
</div>